@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To the Car Rental Shop</h1>
    <p class="lead">Here you can rent your own cars ranging from the cheapest to the stylish cars out there.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

